* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #ff7141;
}

/* formats the games canvas ()*/
canvas {
    margin: 0px auto;
    padding-bottom: 10px;
    padding-top: 0px;
}

/*  This is a test(responsive)  */
@media only screen and (min-width: 680px) {
    canvas {
        width: 100%;
        height: 100%;
    }
}


.myButton {
    background-color: #42c4c7;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Corbel;
    font-size: 19px;
    padding:16px 31px;
    text-decoration:none;
    margin: 10px;
    opacity: 0.2;

}
.myButton:hover {
    opacity: 1;
    background-color: #43a3c7;
}
.myButton:active {
    opacity: 1;
    position:relative;
    top:1px;
}