* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #ff7141;
}

#heading {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    display: block;
    font-size: 300px;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-top: -50px;
    margin-bottom: -70px;
    //border: 5px solid;
}

p {
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    //border: 5px solid;

}


.buttonDiv {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 0;

}


.myButton {
    background-color: #42c4c7;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Corbel;
    font-size: 19px;
    padding:16px 31px;
    text-decoration:none;
    width: 68px;
}
.myButton:hover {
    background-color: #43a3c7;
}
.myButton:active {
    position:relative;
    top:1px;
}

#infoTextBox {

    padding: 10px;
    font-family: "Corbel";
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    display: block;
    color: #ffffff;
    width: 500px;
/ / height: 200 px;
    border: 5px solid #42c4c7;

}