* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #ff7141;
}

canvas {
    margin: 0px auto;
    margin-top: 3%;

}

#buttonDiv {
    display: block;

    text-align: center;
    margin: auto;
    margin-top: 0;
}

.font {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 0;
}

#tutorial {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 5px;

}

#tutorial-heading {
    font-size: 50px;
}

#tutorial-text {
    font-size: 40px;
}



#heading {
    font-size: 200px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 15%;
    margin-bottom: 0;
}


.myButton {
    background-color: #42c4c7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}
.myButton:hover {
    background-color: #43a3c7;
}
.myButton:active {
    position:relative;
    top:1px;
}
