* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #FaFaFa;
}

canvas {
    margin: 0px auto;


}

.gameHeading {
    text-decoration: none;
    display: block;
    padding: 10px;

    font-family: Century Gothic;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: white;
    /*color: #F44336;*/
    margin: 0px auto;


}